body {
    background-color: beige;
    text-align: center;
}

.MyButtons {
    margin-right: 35px;
}

button {
    background-color:rgb(142, 198, 247);
    height: 50px;
    width: 130px;
    font-weight: 700;
    margin-left: 35px;
    margin-bottom: 30px;
}

.userSelection {
    margin-top: 50px;
}

.computerSelection {
    margin-top: 30px;
}